*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
}

body{
    width: 100%;
    max-width: 150rem;
    min-height: 100vh;
    margin: 0 auto;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    width: 100%;
    height: 6rem;
    background-color: #262626;
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav{
    position: relative;
}

#header_logo{
    width: 15rem;
}

#header_iconMenu{
    display: block;
    width: 5rem;
}

#header_closeIcon{
    display: none;
    width: 2.5rem;
}

#mobileMenu{
    display: none;
    width: 20rem;
    position: absolute;
    top: 4.2rem;
    right: -2rem;
}

.mobileMenu_item{
    position: relative;
}

.mobileMenu_item:hover > #mobileSubMenu{
    display: block;
}

#mobileSubMenu{
    display: none;
    position: absolute;
    bottom: -11.8rem;
    left: -20rem;
    flex-direction: column;
}


.mobileSubMenu_item{
    width: 20rem;
}

.mobileMenu_item a{
    display: inline-flex;
    width: 100%;
    padding: 2rem 0;
    border-top: 1px solid #ccc;
    background-color: #262626;
    font-size: 1.6rem;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    justify-content: center;
}

.mobileSubMenu_item a{
    display: inline-flex;
    width: 100%;
    padding: 2rem 0;
    background-color: #333666;
}

#login_form, #editUser_form{
    width: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem;
    border: 1px solid #333;
}

#vehicle_form{
    width: 40rem;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    border: 1px solid #333;
}

#vehicle_form label{
    width: 100%;
}

#vehicle_form input[type="text"],
#vehicle_form input[type="number"]
{
    width: 100%;
    margin-bottom: 2rem;
    font-size: 1.6rem;
    padding: 0.5rem;
}

label, 
input[type="number"],
input[type="pass"]{
    width: 100%;
}

label{
    font-size: 1.4rem;
}

input[type="number"],
input[type="pass"],
input[type="text"]
{
    width: 100%;
    margin-bottom: 2rem;
    font-size: 1.6rem;
    padding: 0.5rem;
}

select{
    width: 50%;
    padding: 0.7rem;
    font-size: 1.6rem;
}

#login_form input[type="submit"],
#editUser_form input[type="submit"],
#vehicle_form input[type="submit"]
{
    width: 100%;
    margin: 2rem 0 1rem 0;
    padding: 1.5rem 0;
    background-color: green;
    color: #fff;
    font-size: 1.6rem;
    border: none;
    cursor: pointer;
}

.vehicle_form_itemContainer{
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logoLogin{
    width: 15rem;
    margin-bottom: 4rem;
}

#editUser_buttons{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
    transition: all 0.3s;
}

#login_form input[type="submit"]:hover,
#editUser_form button:hover,
#editUser_form input[type="submit"]:hover{
    opacity: 0.9;
}

h1{
    margin: 6rem 0 4rem 0;
}

#dropDownMenu{
    display: none;
}

#welcome_userName{
    font-size: 2rem;
}

table{
    border-collapse: collapse;
}

tbody{
    overflow-y: auto;
}

th, td{
    padding: 0.5rem;
    border: 1px solid #ccc;
    font-size: 1.4rem;
    text-align: center;
}

td{
    max-width: 20rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#userTable{
    width: 98%;
    max-width: 60rem;
}

#userTable tr:nth-child(odd){
    background-color: #fff;
}

#userTable tr:nth-child(even){
    background-color: #d5d8dc;
}

#userTable tr:nth-child(odd):hover,
#userTable tr:nth-child(even):hover{
    background-color: gray;
    color: #fff;
}

th{
    background-color: #333;
    color: #fff;
}

#header_user{
    display: none;
}

.noMobileComponent{
    display: none;
}

#nuevoUsuario_button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    padding: 1rem 2rem;
    border: none;
    background-color: green;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.3s;
}

#nuevoUsuario_button:hover{
    opacity: 0.9;
}

#icon_addUser{
    width: 2rem;
    margin-right: 1rem;
}

#cancel{
    margin-top: 2rem;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
    text-decoration: underline;
    color: blue;
}

.editImage{
    width: 2.2rem;
    cursor: pointer;
}

.resetImage{
    width: 2.8rem;
    cursor: pointer;
}

.deleteImage{
    width: 2.8rem;
    cursor: pointer;
}



